html {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color: #0B172A70;
}

header {
    background-color: #bc412345;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 24px;
    border-bottom: 2px solid rgba(86, 106, 107, .4);
}

footer {
    background-color: #bc412345;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
    border-top: 2px solid rgba(86, 106, 107, .4);
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: #46394020;
    border: 1px, solid, lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    border: 1px solid rgba(86, 106, 107, .4);
}

.book-cover {
    width: 200px;
    height: auto;
    grid-row: 1 / 6;
    align-self: center;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}
.book-authors {
    color: dimgray;
}

.book-review-form {
    background-color: white;
    padding: 24px
}

.seperate {
    padding: 10px;
}

.header-title {
    font-weight: bold;
}

input {
    border: 1px, solid, darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px, solid, darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

/* align-items
column-gap
display
grid-row-end
grid-template-columns */
